{{> breadcrum activeItem="Wishlist"}}

<!-- Wishlist Start -->
<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                {{> table_product product=wishlist isWishlist=true}}
            </div>
        </div>
    </div>
</div>
<!-- Wishlist End -->