<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            {{#each brand}}
                <div class="brand-item"><img src="{{this.image}}" alt=""></div>
            {{/each}}
        </div>
    </div>
</div>